body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color:rgb(251, 248, 241);
    background-image: url(https://source.unsplash.com/random/1600×900/?city,landscape);
}

.card {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    width: 50%;
    padding: 4% 2%;
}   
.search {
    margin: auto;
    width: 100%;
}
.searchBar {
    width: 100%;
    background-color: rgb(251, 248, 241);
}

.weather {
    margin-top: 4%;
}

.flex{
    display: flex;
    align-items: center;
    width: 50%;
}