body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color:rgb(251, 248, 241);
    background-image: url(https://source.unsplash.com/random/3000×1500/?city,landscape);
    object-fit: cover;
}

.card {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    width: 50%;
    padding: 4% 2%;
}   
.search {
    margin: auto;
    width: 100%;
}
.searchBar {
    width: 100%;
    background-color: rgba(0, 0, 0,0.4);
    color: white;
}
.toHide {
    visibility: visible;
}
.weather {
    margin-top: 7%;
    visibility: visible;
}

.flex{
    display: flex;
    align-items: center;
    margin: 3%;
}

.loader {
    margin-top: 5%;
    display: none;
}
